@model PROG6212POE.Models.Semester

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Semester</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SemesterId" />
            <div class="form-group">
                <label asp-for="SemesterWeeks" class="control-label"></label>
                <input asp-for="SemesterWeeks" class="form-control" />
                <span asp-validation-for="SemesterWeeks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SemesterDate" class="control-label"></label>
                <input asp-for="SemesterDate" class="form-control" />
                <span asp-validation-for="SemesterDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsersId" class="control-label"></label>
                <select asp-for="UsersId" class="form-control" asp-items="ViewBag.UsersId"></select>
                <span asp-validation-for="UsersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
